<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h5 class="over-title margin-bottom-15">Alteração de <span class="text-bold">Circuitos</span></h5>
            <p>
            	Aqui é possível você alterar um Circuito.
            </p>
            <div class="panel panel-transparent">
				<div class="panel-body">
					<form name="formCircuit" role="form" ng-submit='updateCircuit(formCircuit)' novalidate id="formCircuitSave">
						<div ng-include="'assets/views/circuits/_form.html'"></div>						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
