<div class="container-fluid container-fullw">
	<div class="row">
		<div class="col-md-12">
			<h5 class="over-title margin-bottom-15">Alteração de <span class="text-bold">Alertas</span></h5>
            <p>
            Aqui é possível você alterar um alerta.
            </p>
            <div class="panel panel-transparent">
				<div class="panel-body">
					<form name="formAlert" role="form" ng-submit='updateAlert(formAlert)' novalidate id="formAlertSave">
						<div ng-include="'assets/views/alerts/_form.html'"></div>						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
