<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
	<span translate="sidebar.heading.NAVIGATION">Menu de navegação</span>
</div>
<ul class="main-navigation-menu">
	<li ui-sref-active="active">
		<a ui-sref="app.dashboard">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-home"></i>
				</div>
				<div class="item-inner">
					<span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
				</div>
			</div>
		</a>
	</li>
    <li ng-class="{'active open':$state.includes('app.manager')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-settings"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Gerênciamento </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.manager.users">
					<span class="title"> Usuários </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.manager.alerts">
					<span class="title"> Alertas </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.manager.circuits">
					<span class="title"> Circuitos </span>
				</a>
			</li>			
        </ul>
    </li>
    <li ng-class="{'active open':$state.includes('app.chart')}">
		<a href="javascript:void(0)">
			<div class="item-content">
				<div class="item-media">
					<i class="ti-bar-chart-alt"></i>
				</div>
				<div class="item-inner">
					<span class="title"> Monitoramento </span><i class="icon-arrow"></i>
				</div>
			</div>
		</a>
		<ul class="sub-menu">
			<li ui-sref-active="active">
				<a ui-sref="app.chart.openHour">
					<span class="title"> Por período </span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="app.chart.now">
					<span class="title"> Instântaneo </span>
				</a>
			</li>			
        </ul>
    </li>
</ul>